{% extends 'base.html' %}

{% block content %}
<div class="flex items-center gap-6 mb-8 p-6 pointer-box justify-between">
  <div class="flex items-center gap-6">
    <span class="text-lg uppercase tracking-wide pointer-text">Intention:</span>
    
    <div class="flex flex-wrap gap-2">
      {% for cat in current_cats %}
        <span 
          data-tag="{{ cat }}" 
          class="tag-pill shadow-sm"
        >
          {{ cat }}
        </span>
      {% endfor %}
    </div>
  </div>
  
  <a 
    href="/?change_focus=1&next={{ page }}" 
    class="nav-link ml-auto text-base font-bold text-gray-500"
  >
    Change Your Mind
  </a>
</div>

<div class="flex-1 min-h-[20px]"></div>

<div id="video-grid-container">
  {% include 'components/video_grid.html' %}
</div>

{% endblock %}